{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>INDRA World Modelers assembly dashboard</h2>
            </div>
            <div class="panel-body">
                <p>
                    This website allows searching for machine reader output, and
                    running INDRA assembly.
                </p>
                <p>
                    First, you need to query for
                    a set of reader outputs available in DART. You need
                    to select at least one reader, while other arguments
                    such as reader versions, tenant ID, and before/after
                    dates are optional and can be used to further constrain
                    the query.
                </p>
                <p>
                    Once a set of records has been selected, you need to
                    set a corpus ID, a display name, and a description, then
                    click on the Run assembly button.
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Run assembly</h3>
            </div>
            <div class="panel-body">
            <style>
                .form-control {
                    width: 90%;
                }
                .btn {
                    margin: 5px;
                }
            </style>
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

            <!-- Choices multiselect library: https://github.com/jshjohnson/Choices -->
            <!-- Include Choices CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
            <!-- Include Choices JavaScript -->
            <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

            <script>
                $(document).ready(function() {
                    // see https://github.com/jshjohnson/Choices
                    const readerSelect = new Choices('#reader-select');
                })
            </script>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" align="left">
                    <div id="record-search-panel" class="panel panel-default" style="padding:2%">
                        <form class="form" method="post" action='dashboard' role="form">
                            {{ wtf.form_field(record_finder_form.readers, class_="form-control") }}
                            {{ wtf.form_field(record_finder_form.reader_versions, class_="form-control") }}
                            {{ wtf.form_field(record_finder_form.tenant, class_="form-control") }}
                            {{ wtf.form_field(record_finder_form.ontology_id, class_="form-control") }}
                            {{ wtf.form_field(record_finder_form.after_date, class_="form-control") }}
                            {{ wtf.form_field(record_finder_form.before_date, class_="form-control") }}
                            {{ wtf.form_field(record_finder_form.query_submit_button, class="btn btn-primary") }}
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" align="left">
                        <div id="record-results-panel" class="panel panel-default" style="padding:2%">
                            <p>
                                {{record_summary|safe}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" align="left">
                        <div id="assembly-form-panel" class="panel panel-default" style="padding:2%">
                            <form class="form" method="post" action='dashboard' role="form">
                                {{ wtf.form_field(run_assembly_form.corpus_id, class_="form-control", value="xxx") }}
                                {{ wtf.form_field(run_assembly_form.corpus_name, class_="form-control") }}
                                {{ wtf.form_field(run_assembly_form.corpus_descr, class_="form-control") }}
                                {{ wtf.form_field(run_assembly_form.output_path, class_="form-control") }}
                                {{ wtf.form_field(run_assembly_form.assembly_submit_button, class="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
        </div>
        <div class="well">
            <p class="lead">
                <small>
                The development of this system was funded under the DARPA World Modelers program
                (W911NF-18-1-0014) and is developed by the <a href="http://indralab.github.io">INDRA team</a>
                in the <a href="http://hits.harvard.edu">Laboratory of Systems Pharmacology</a>
                at Harvard Medical School.
                </small>
            </p>
            <p class="lead">
                <small>
                Point of contact: Benjamin M. Gyori (benjamin_gyori [AT] hms.harvard.edu)
                </small>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
